body {
    background-image: url("hatter.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    padding: 0.2em;
    background: #a0a0a0;
    cursor: default;
}

input {
    background: white;
    width: 10em;
    height: 2.5em;
    margin: 0.5em;
    border: thin solid grey;
    border-radius: 0.5em;
    transition-duration: 0.8s;
}

input:hover {
    border: thin solid cyan;
    background: yellow;
}

button {
    background: white;
    text-align: center;
    margin: 0.5em;
    border: medium solid chartreuse;
    border-radius: 0.25em;
    width: 100px;
    padding: 5px;
    font-size: 1rem;
    font-family: "Times New Roman";
    cursor: pointer;
}

button:hover {
    background: chartreuse;
    transition-duration: 1.2s;
}

button:active {
    transform: scale(0.85);
    transition-duration: 0.3s;
}