body {
    background-image: url("hatter.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

h1 {
    width: 100vw;
    margin: 0;
    padding: 0.1em;
    text-align: center;
    background: yellow;
    font-family: "Times New Roman";
    font-size: 3em;
    letter-spacing: 0.3em;
}

table {
    position: absolute;
    right: 0;
    background: brown;
    margin: 2em;
    border-spacing: 0;
    cursor: default;
}

thead {
    font-size: 2em;
    border-bottom: thin solid black;
    margin: 0;
}

td {
    border-top: thin solid black;
    border-bottom: thin solid black;
    margin: 0;
    font-size: 1.25em;
}

.fix-prize {
    background: yellow;
}

.quiz {
    position: absolute;
    bottom: 0;
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 40vw;
    height: 30vh;
    background: blue;
    text-align: center;
}

.question {
    align-self: baseline;
    width: inherit;
    height: 3em;
    background: aquamarine;
    margin: 0.5em;
    border-radius: 0.5em;
}

.answer {
    width: 40%;
    height: 3em;
    background: chartreuse;
    margin: 0.5em;
    border-radius: 0.5em;
}

.helps {
    position: absolute;
    left: 0;
    margin: 2em;
    width: 20em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: blue;
    align-items: center;
}


.help {
    background: chartreuse;
    width: 10em;
    height: 3em;
    text-align: center;
}